html,
body {
    height: 100%;
}

body {
    --grey: hsl(240, 9%, 89%);
    --black: hsl(240, 6%, 13%);

    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
    background: rgb(58, 59, 58);
}

main {
    background: url(images/back.svg);
    width: 375px;
    height: 812px;
}

.container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--grey);
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15;

    z-index: 1;
}

.avatar>img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(53% 0, 100% 23%, 100% 79%, 50% 100%, 0 78%, 0 25%);
}

h1 {
    font-size: 5rem;
    color: beige;
}

/*Irá ser compilado ultimo programa aplicado.*/
h1 {
    font-size: 1.5rem;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: rgb(231, 230, 233);
    text-decoration: none;

    margin-top: 0.25rem;

    display: flex;
    gap: 0.75rem;

    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
    color: rgb(231, 230, 233);
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;

    justify-content: center;
}